{% extends "layout.html" %}
{%block body%}
    <div class="px-4 py-5 my-5 text-center">    
    <h1 class="display-5 fw-bold">Hakkımızda</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4"> techcareer.net dijital yeteneklerin yetiştirilmesi ve işe yerleştirilmesi misyonu ile yola çıkmış, teknoloji alanında kariyer hedefleyen adaylara ödüller, iş fırsatları, kendini kanıtlama imkanı sağlayan bir teknoloji platformudur. Techcareer.net'in kadın yazılımcılara özel düzenlediği 44 saat süren "Back-End with Pyhton" eğitim kampından öğrenilen bilgilerle "techblog" hizmetinize sunulmuştur.
        "techblog" başta teknoloji ve kodlama odaklı programlanmış ve tasarlanmıştır. Daha sonrasında insanların bir çok alana ilgisinin olabileceği ve merak duyabileceği düşünülerek bir çok kategori sizlerin hizmetine sunulmuştur. "techblog" hala daha gelişmekte olan bir platformdur.
        Bunun yanında Techcareer kadın yazılımcılar olarak bize bir kadının istediği sürece bir çok şeyi yapabileceğini, bir yazılımcı olarak çalışabileceğini ve iş yoğunluğunun yanında 44 saat eğitim verebileceğini tekrardan gösteren sayın Elif Şevval Dinçer hanımefendiye, bu fırsatı bizlere veren techcareer.net ailesine teşekkürlerimizi sunarız.</p>
    </div>
{%endblock body%}