{% extends "layout.html" %}
{% block body %}
<h3>Bilim</h3>
<hr>
{% if articles %}
    <ul class="list-group">
    <div class=" text-muted pt-3">
     <table class="table table-hover table-light">
  <thead class="thead-light"style="background-color: #880e4f;">
    <tr>
      <th scope="col">Başlık</th>
        <th scope="col">Yazar</th>
      <th scope="col">Tarih</th>
    </tr>
  </thead>
  <tbody>
    {% for article in articles %} 
    <tr>
      <td><a href="/article/{{article.id}}">{{article.title}}</td>
      <td>{{article.author}}</td>
      <td>{{article.upload_time}}</td>
      
   {% endfor %}
  </tbody>
</table>
   </ul>
   {% else %}
<div class="alert alert-danger">Bloga henüz eklenmiş bir makale bulunmamaktadır.</div>
<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    <a href="/addarticle" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">Makale Ekle</a>
</div>

{% endif %}

{% endblock body %}
